.landing-page {
  background-image: url('home-background.png');
  background-size: 108%;
  height: 100vh;
}

img.logo {
  margin-top: 195px;
  width: 400px;

}

img.settings-logo {
  position: absolute; 
  width: 80px;
  height: auto;
  right: 25px;
  top: 15px;
}

.landing-button {
  margin-top: 30px !important;
}