.interest-div {
  text-align: center;
}

.interest-header {
  background-color: #222;
  height: 50px;
  padding: 15px;
  color: white;
}

.interest-title {
  font-size: 1.5em;
}

.money-button {
  margin: 5px;
  width: 50px;
  height: 50px;
  text-align: center;
}

.money-button:focus {
  outline:none !important;
}

.hammer-button {
  margin: 5px;
  text-align: center;
}
.hammer-button:focus {
  outline:none !important;
}

.piggy-div {
  margin-top: 50px;
}

.piggy-button {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.time-button {
  float: right;
  margin-top: -41px;
  margin-right: 10px;
}

.time-button {
  float: right;
  margin-top: -41px;
  margin-right: 10px;
}

.time-label {
  float: left;
  margin-top: -35px;
  margin-left: 10px;
  color: whitesmoke;
}
